body {
    /* Modern Georgia-based serif stack */
    font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;

    background: url('/assets/food.png');
    color:#2E2E3C;
    -webkit-font-smoothing:antialiased;
}

.paginate{
    margin-top:10px;
    margin-bottom:15px;
    padding: 0;

}

.navbar.navbar-inverse {
    background:url('/assets/stardust.png');
    border-radius: 0;
    box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-inverse .navbar-brand {
    color: #F8C871;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: -0.3px;
    font-family: 'roboto_condensedlight', sans-serif;
    font-size:26px;
}

.card-box {
    background:#FFF;
    -moz-box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    color:#272727;
    border-radius:2px;
    margin-top:10px;
    margin-bottom:15px;
    padding:20px;
}
.card .title {
    line-height:48px;
    font-size:24px;
    font-weight:300;
}
.card .content {
    font-weight:300;
    border-radius:0 0 2px 2px;
}
.card p {
    margin:0;
}
.card .title {
    bottom:0;
    left:0;
    padding:20px;
    color:#FFF;
}

h1,h2,h3,h4,h5,h6 {
    margin:0;
    padding: 0;
}

.field_with_errors {
    color: #ff3333;
    background-color: #FFEEEE;
    border-radius: 3px;
    padding:8px;
}

.notice_wrapper{
    postion: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    p{
        padding: 2.5rem 0;
        text-align: center;
        margin: 0;
        font-size: 1.75rem;
        font-weight: 700;
        color: #FFF;
        letter-spacing: 1px;
    }
}

.alert{
    border-radius: 0;
}

.alert-info{
    background: rgba(15, 121, 170, 0.85); 
    border-color: #0C658D;
}

.alert-danger {
    background: rgba(156, 13, 27, 0.85); 
    border-color: #870A16;
}

#map-canvas {
    height: 300px;
    margin: 0px;
    padding: 0px;
}

.clear {
    clear: both;
}